<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Restablecimiento de contraseña</title>
</head>
<body>
    <p>Hola aaaaaaaaaaaaa,</p>

    <p>Has solicitado un restablecimiento de contraseña para tu cuenta en {{ site_domain }}.</p>

    <p>Por favor, ve al siguiente enlace para establecer una nueva contraseña:</p>

    <p><a href="{{ protocol }}://{{ site_domain }}{% url 'password_reset_confirm' uid=uid token=token %}">{{ protocol }}://{{ site_domain }}{% url 'password_reset_confirm' uid=uid token=token %}</a></p>

    <p>Si no solicitaste este cambio, por favor ignora este correo electrónico.</p>

    <p>¡Gracias por usar nuestro sitio!</p>

    <p>El equipo de {{ site_domain }}</p>
</body>
</html>
